<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">分享文件</h4>
</div>
<div class="modal-body" style="max-height:300px;overflow:auto;">
     <div class="row">
        <div class="col-md-12" ng-repeat="alert in alerts">
            <div uib-alert ng-class="'alert-' + (alert.type || 'warning')"
                 close="alerts.splice($index, 1)">{{alert.msg}}
            </div>
        </div>
    </div>
   <div js-tree="treeConfig" ng-model="treeData" should-apply="ignoreModelChanges()" tree="treeInstance" tree-events-obj="treeEventsObj"></div>
  
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default " data-dismiss="modal" ng-click="close()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">确定</button>
</div>
<div class="overlay" ng-show="status.i!=0">
    <i class="fa fa-spinner fa-spin"></i>
</div>