<div class="teacher-detail-box">
	<div class="teacher-basic-info row">
		<div class="col-xs-4"><img ng-src="{{details.avatar}}" width="100%"/></div>
		<div class="col-xs-7">
			<div class="row">
				<div class="col-sm-6">中文名：{{details.chineseName}}</div>
				<div class="col-sm-6" >性别：{{details.sex=="female"?"女":"男"}}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">出生日期：{{details.birthdate}}</div>
				<div class="col-sm-6" >学历：{{details.education}}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">教师职称：{{details.jobTitle}}</div>
				<div class="col-sm-6" >职务：{{details.job}}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">机构：{{details.organization}}</div>
				<div class="col-sm-6" ></div>
			</div>
		</div>
	</div>
	<div class="teacher-detail-content">
		<div class="persional-title">个人履历</div>
		<ul>
			<li ng-repeat="personal in details.personalDetails">
				<label></label>
				<div class="content">{{personal.content}}</div>
				<!-- <div class="line"></div> -->
			</li>

		</ul>
	</div>
</div>