 <div class="discuss-level1 clearfix" ng-repeat="detail in conf.data">
          <div class="discuss-level1-wrap clearfix">
            <div class="avatar"><img ng-src="{{detail.img}}" width="100%"/></div>
            <div class="discuss-level1-content">
                <div class="clearfix replay-content">
                  <div class="left">{{detail.name}}：{{detail.content}}<br><span>{{detail.time}}</span><a ng-click="reply(detail.id,1)">回复</a></div>
                  <div class="right">{{detail.floor}}楼 </div>
                </div>
              </div>
          </div>
          <div class="discuss-level2" id="discussLevel2{{secDetail.id}}" ng-if="detail.children" ng-repeat="secDetail in detail.children">
              <div class="discuss-level2-wrap">
                  <div class="avatar"><img ng-src="{{secDetail.img}}" width="100%"/></div>
                  <div class="discuss-level2-content">
                      <div class="clearfix replay-content">
                        {{secDetail.name}}：{{secDetail.content}}<br><span>{{secDetail.time}} </span><a ng-click="reply(secDetail.id,2)">回复</a>
                      </div>
                   </div>
              </div>
              <div class="discuss-level3" ng-if="secDetail.children" ng-repeat="theDetail in secDetail.children">
                  <div>
                    <div class="avatar"><img ng-src="{{theDetail.img}}" width="100%"/></div>
                    <div class="discuss-level3-content">
                        <div class="clearfix replay-content">
                          {{theDetail.name}}：{{theDetail.content}}<br><span>{{theDetail.time}}</span>
                        </div>
                     </div>
                  </div>
              </div>
          <div class="publish-content" id="content2{{secDetail.id}}"></div>
          </div>
          <div class="publish-content" id="content1{{detail.id}}"></div>
</div>
<s-pagination conf="conf"></s-pagination>